<a href="https://colab.research.google.com/github/Super-rookie-Py/_WebProgramming_Class/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0__%EC%9D%8C%EC%95%85_%EC%88%9C%EC%9C%84_%EC%8A%A4%ED%81%AC%EB%9E%98%ED%95%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BeautyfulSoup 음악 순위 스크래핑

* 네이버 뮤직: https://music.naver.com/listen/top100.nhn

- keonwoo Park 2020/09/14

In [8]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd


url_p1 = 'https://music.naver.com/listen/top100.nhn'
url_p2 =  'https://music.naver.com/listen/top100.nhn?page=2'

def get_music_ranks(url):
  search_url = urllib.request.urlopen(urls).read()
  soup = BeautifulSoup(search_url, 'html.parser')

  soup_titles = soup.select('a._title span.ellipsis')
  titles = [title.get_text() for title in soup_titles]
  soup_artists = soup.select('td.artist.artist > a > span')
  artists = [artist.get_text().strip() for artist in soup_artists]

  return titles, artists

In [10]:
titles_50, artists_50 = get_music_ranks(url_p1)
titles_100, artists_100 = get_music_ranks(url_p2)

ranks = [rank for rank in range(1,101)]
rank_df = pd.DataFrame({'Rank':ranks,
                        "Title": titles_50 + titles_100,
                        "Artist": artists_50 + artists_100})
rank_df

    Rank                          Title                Artist
0      1                       Dynamite                 방탄소년단
1      2                    마리아 (Maria)            화사(Hwa Sa)
2      3                      다시 여기 바닷가    싹쓰리(유두래곤, 린다G, 비룡)
3      4   When We Disco (Duet with 선미)                   박진영
4      5  Ice Cream (with Selena Gomez)             BLACKPINK
..   ...                            ...                   ...
95    96                            밤편지               아이유(IU)
96    97              Paris In The Rain                  Lauv
97    98                           처음처럼    엠씨더맥스(M.C the MAX)
98    99            밤새 (취향저격 그녀 X 카더가든)                  카더가든
99   100                         오래된 노래  스탠딩 에그(Standing Egg)

[100 rows x 3 columns]