<a href="https://colab.research.google.com/github/Super-rookie-Py/_WebProgramming_Class/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0__%ED%95%9C%EA%B5%AD%ED%99%98%EA%B2%BD%EA%B3%B5%EB%8B%A8_%EB%8C%80%EA%B8%B0%EC%98%A4%EC%97%BC%EC%A0%95%EB%B3%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 한국환경공단 대기오염정보

- keonwoo Park 2020/09/11

## 한국환경공단_측정소정보 

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000660

In [14]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = '1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList'

params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('tmX') : '244148.546388',
           quote_plus('tmY') : '412423.75772',
           quote_plus('ver') : '1.0' })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)|

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['addr'] = item.find('addr').text
  item_dict['tm'] = item.find('tm').text
  df = df.append(item_dict, ignore_index = True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList?ServiceKey=1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D&tmX=244148.546388&tmY=412423.75772&ver=1.0

                                   addr stationName   tm
0  제주 서귀포시 대정읍 동일하모로149번길 21-8대정청소년 수련관         대정읍  0.0
1    부산 동구 충장대로 314자성대부두(관공선부두) 내 (좌천동)        부산북항  0.0
2                    제주 제주시 한경면 고산리3762         고산리  0.0

## 한국환경공단_대기오염정보

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000581

### 측정소별 실시간 측정정보 조회

In [17]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = '1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty'

params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('numOfRows') : '10',quote_plus('pageNo') : '1',
           quote_plus('stationName') : '종로구', quote_plus('dataTerm') : 'DAILY',
           quote_plus('ver') : '1.3	' })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)|

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  df = df.append(item_dict, ignore_index = True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?ServiceKey=1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D&numOfRows=10&pageNo=1&stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC&dataTerm=DAILY&ver=1.3%09

  coGrade coValue          dataTime  ... pm10Value so2Grade so2Value
0       1     0.4  2020-09-11 14:00  ...        22        1    0.003
1       1     0.4  2020-09-11 13:00  ...        23        1    0.003
2       1     0.4  2020-09-11 12:00  ...        25        1    0.003
3       1     0.4  2020-09-11 11:00  ...        30        1    0.003
4       1     0.7  2020-09-11 10:00  ...        49        1    0.003
5       1     0.8  2020-09-11 09:00  ...        33        1    0.003
6       1     0.5  2020-09-11 08:00  ...        30        1    0.003
7       1     0.4  2020-09-11 07:00  ...        30        1    0.003
8       1     0.4  2020-09-11 06:00  ...        30        1    0.003
9       1     0.5  2020-09-11 05:00  ...        36        1    0.004

[10 rows x 13 columns]

### 시도별 실시간 측정정보 조회

In [19]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = '1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty'

params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('numOfRows') : '10',quote_plus('pageNo') : '1',
           quote_plus('sidoName') : '인천', quote_plus('ver') : '1.3'})
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)|

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['so2Value'] = item.find('so2Value').text
  
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm10Value24'] = item.find('pm10Value24').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text
  df = df.append(item_dict, ignore_index = True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty?ServiceKey=1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%9D%B8%EC%B2%9C&ver=1.3

  coGrade coValue          dataTime  ... so2Grade so2Value stationName
0       1     0.4  2020-09-11 14:00  ...        1    0.004          신흥
1       1     0.6  2020-09-11 14:00  ...        1    0.002          서해
2       1     0.6  2020-09-11 14:00  ...        1    0.002          송림
3       1     0.5  2020-09-11 14:00  ...        1    0.002         구월동
4       1     0.4  2020-09-11 14:00  ...        1    0.005          숭의
5       1     0.5  2020-09-11 14:00  ...        1    0.003         석바위
6       1     0.4  2020-09-11 14:00  ...        1    0.004         부평역
7       1     0.7  2020-09-11 14:00  ...        1    0.003          남동
8       1     0.4  2020-09-11 14:00  ...        1    0.003          부평
9       1     0.4  2020-09-11 14:00  ...        1    0.003          연희

[10 rows x 21 columns]

### 시도별 실시간 평균정보 조회

In [21]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = '1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst'

params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('numOfRows') : '10',quote_plus('pageNo') : '1',
           quote_plus('itemCode') : 'PM10', quote_plus('dataGubun') : 'HOUR',
           quote_plus('searchCondition') : 'MONTH'
           })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)|

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}

  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['itemCode'] = item.find('itemCode').text
  
  item_dict['dataGubun'] = item.find('dataGubun').text
  item_dict['seoul'] = item.find('seoul').text
  item_dict['busan'] = item.find('busan').text
  item_dict['daegu'] = item.find('daegu').text
  item_dict['incheon'] = item.find('incheon').text
  item_dict['gwangju'] = item.find('gwangju').text
  item_dict['daejeon'] = item.find('daejeon').text
  item_dict['ulsan'] = item.find('ulsan').text
  item_dict['gyeonggi'] = item.find('gyeonggi').text
  item_dict['gangwon'] = item.find('gangwon').text
  item_dict['chungbuk'] = item.find('chungbuk').text
  item_dict['chungnam'] = item.find('chungnam').text
  item_dict['jeonbuk'] = item.find('jeonbuk').text
  item_dict['jeonnam'] = item.find('jeonnam').text
  item_dict['gyeongbuk'] = item.find('gyeongbuk').text
  item_dict['gyeongnam'] = item.find('gyeongnam').text
  item_dict['jeju'] = item.find('jeju').text
  item_dict['sejong'] = item.find('sejong').text
  df = df.append(item_dict, ignore_index = True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst?ServiceKey=1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D&numOfRows=10&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH

  busan chungbuk chungnam daegu daejeon  ... jeonbuk jeonnam sejong seoul ulsan
0    40       28       35    33      27  ...      26      26     25    19    37
1    40       32       35    36      25  ...      32      27     23    20    39
2    36       34       35    42      31  ...      34      29     30    24    38
3    37       36       36    46      36  ...      37      31     36    27    43
4    39       39       40    40      40  ...      42      34     40    27    44
5    43       36       42    44      43  ...      39      34     39    27    45
6    46       33       42    44      38  ...      38      34     39    29    44
7    42       32       40    39      32  ...      38      33     36    31    40
8    43       32       41    39      25  ...      37      32     38    31    41
9    40       31       39    39      28  ...      37      32     37    35    41

[10 rows x 20 columns]

### 시군구별 실시간 평균정보 조회

In [23]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = '1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst'

params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('numOfRows') : '10',quote_plus('pageNo') : '1',
           quote_plus('sidoName') : '서울', quote_plus('searchCondition') : 'DAILY'})
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)|

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['cityName'] = item.find('cityName').text
  
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm25Value'] = item.find('pm25Value').text

  df = df.append(item_dict, ignore_index = True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst?ServiceKey=1ljS3n%2Br%2FxPMhAcc18cTB1ifzfGniN%2B4ZZCcJlY9t2p%2Fv9wgJGAP1I7Hg1Ys7K628KsHYnFCTF7wT9sFe%2FhI9A%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%84%9C%EC%9A%B8&searchCondition=DAILY

  cityName coValue          dataTime  ... pm10Value pm25Value so2Value
0      강남구     0.4  2020-09-11 14:00  ...        20        13    0.003
1      강동구     0.3  2020-09-11 14:00  ...        18        11    0.002
2      강북구     0.3  2020-09-11 14:00  ...        24         -    0.002
3      강서구     0.2  2020-09-11 14:00  ...        21        12    0.003
4      관악구     0.4  2020-09-11 14:00  ...        22        12    0.003
5      광진구       -  2020-09-11 14:00  ...         -         -        -
6      구로구     0.3  2020-09-11 14:00  ...        18         6    0.002
7      금천구     0.4  2020-09-11 14:00  ...        29        16    0.002
8      노원구       -  2020-09-11 14:00  ...         -         -        -
9      도봉구     0.2  2020-09-11 14:00  ...        10         7    0.003

[10 rows x 8 columns]