<a href="https://colab.research.google.com/github/Super-rookie-Py/_WebProgramming_Class/blob/master/%EB%B0%95%EA%B1%B4%EC%9A%B0__%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%98%81%ED%99%94_%EB%A6%AC%EB%B7%B0_%EC%8A%A4%ED%81%AC%EB%9E%98%ED%95%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BeautyfulSoup 네이버 영화 리뷰 스크래핑
- keonwoo Park 2020/09/14

## 네이버 영화 리뷰 스크래핑

* 네이버 영화: https://movie.naver.com/movie/point/af/list.nhn

In [13]:
from bs4 import BeautifulSoup
import urllib.request
from urllib.parse import quote
import pandas as pd

def get_movie_reviews(mcode, page_num=10):

  movie_review_df = pd.DataFrame(columns = ("Title", "Score", 'Review'))
  idx = 0
  url =  "https://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword="+ str(mcode)+"&target=after"

  for _ in range(0, page_num):
    movie_page = urllib.request.urlopen(url).read()
    movie_page_soup = BeautifulSoup(movie_page, "html.parser")

    review_list = movie_page_soup.find_all('td', {'class':'title'})
    for review in review_list:
      title = review.find('a', {'class': 'movie color_b'}).get_text()
      score = review.find('em').get_text()
      review_text = review.find('a', {'class': 'report'}).get('href').split(',')[2]
      movie_review_df.loc[idx] = [title, score, review_text]
      idx += 1
      print("#", end="")
    try:
      url = "https://movie.naver.com/" + movie_page_soup.find('a', {'class': 'pg_next'}).get('href')
    except:
      break

  return movie_review_df

In [15]:
movie_review_df = get_movie_reviews(18847,10)
movie_review_df

####################################################################################################

   Title Score                                             Review
0   타이타닉    10                 '내가 과연 처음 보는 사람을 위해 대신 죽어줄 수 있을까?'
1   타이타닉    10                             '너무재밌어요 최고 죽기전 꼭봐야할영화'
2   타이타닉    10                            '타이타닉이라는 영화를 처음 보게 되었는데
3   타이타닉    10                             '세기의 영화지 멀따져 안봤으면 얼릉봐'
4   타이타닉    10   '다들 하는 말이 하나같이 다 맞음 믿고 보세요 볼땐 휴지 필수니깐 꼭~ 챙기셈 ...
..   ...   ...                                                ...
95  타이타닉     9   '하앍 케이트 윈슬릿 너무 고혹적이다 디카프리오는 두말할나위도 .. 지구가 멸망할...
96  타이타닉    10              '인생 최고의 영화다이런영화를 29년만에 봤다니진짜 인생 헛살았네'
97  타이타닉    10          '정말 펑펑운 영화별점 다섯개가 뭐야..만점짜리다..정말 인생영화 등극.'
98  타이타닉    10                                                 ''
99  타이타닉    10                                    '꼭 보세요. 역대급 영화'

[100 rows x 3 columns]

## 현재상영작 영화 리뷰 스크래핑

In [17]:
url = "https://movie.naver.com/movie/point/af/list.nhn"
naver_movie = urllib.request.urlopen(url).read()
soup = BeautifulSoup(naver_movie, 'html.parser')
select = soup.find('select', { 'id': 'current_movie'})
movies = select.find_all('option')

movies_dict = {}
for movie in movies[1:]:
  movies_dict[movie.get('value')] = movie.get_text()

movie_review_df = pd.DataFrame(columns = ("Title", "Score", 'Review'))
for mcode in movies_dict:
  df = get_movie_reviews(mcode, 1)
  movie_review_df = pd.concat([movie_review_df, df])

movie_review_df

###############################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################

     Title Score                                             Review
0    뉴 뮤턴트     1                            'LGBT묻었어소수민족+황인+레즈비언우욱'
1    뉴 뮤턴트     1                '멤버쉽포인트로 공짜로 봐서 돈은 안 아까운데 시간이 아깝다 '
2    뉴 뮤턴트     9                  '안야 매력 터짐 스토리는 생각보다 괜찬았고 신선한 느낌~'
3    뉴 뮤턴트    10   '스토리도 신선했고 연기자들의 연기 또한 좋았습니다. 그렇게 기대하지 않았는데 요...
4    뉴 뮤턴트    10   '평이 안좋아서 기대없이 봤는데  다크 하이틴 버전의 엑스맨 새로운 느낌으로 재밌...
..     ...   ...                                                ...
5   파리 텍사스     8                                '이미지가 스토리를 말해주는 영화'
6   파리 텍사스     8   '엄마찾아 삼만리. 로드무비라고 할 수도 있지만 모두에게 잔혹할 수도 있는 상황....
7   파리 텍사스     8                          '보고 이별과 참회에 대해 많은생각이 들었다'
8   파리 텍사스     9                                           '외로운 사람들
9   파리 텍사스    10                                                 ''

[1215 rows x 3 columns]